h1 {
  font-family: 'Assistant', 'Alegreya Sans', sans-serif;
  font-size: 3rem;
  margin: 1rem 0rem;
}
h2 {
  font-family: 'Work Sans', 'Raleway', sans-serif;
  font-size: 2rem;
  margin: 0.66rem 0rem;
}
h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 1.7rem;
  margin: 0.56rem 0rem;
}
h4 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin: 0.42rem 0rem;
}
h5 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin: 0.36rem 0rem;
}
h6 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 0.33rem 0rem;
}
p {
  font-family: 'Khula', 'Raleway', sans-serif;
  font-size: 1.2rem;
}
span {
  font-family: 'Khula', 'Raleway', sans-serif !important;
}
a {
  font-family: 'Khula', 'Raleway', sans-serif;
}
li {
  color: #65594d;
  font-family: 'Khula', 'Raleway', sans-serif;
}
img:not([alt]) {
  border: 4px red dashed !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
